h1 {
    color: rgb(0, 0, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

h2 {
    
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

body {
    background-color: rgb(255, 255, 255);
}

.navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100px;
    background-color:rgb(197, 197, 197);
    border: 1px solid #555;
}

li a{
    display: block;
    width: 60px;
    color: black;
}

/* Endrer på link fargen når vi drar over. */
li a:hover {
    background-color: rgb(219, 214, 214);
    color: rgb(0, 0, 0);
}

/*Sentrerer paragrafen*/
p {

    text-align: center;

    
}




