
h2 {
    
    text-align: center;
    text-decoration: underline;
    font-family:'Times New Roman', Times, serif
}

body {
    background-color: rgb(255, 255, 255);
}

.header {
    background-color: lightsteelblue;
    text-align: center;
    padding: 50px;
    font-size: 25px;
}
    

nav {
    list-style-type: none;
    margin: 50px;
    padding: 0;
    overflow: hidden;
    background-color:rgb(216, 214, 214);
}

.navigation > li {
    float: left;
    
}

.navigation > li a{
    padding: 10px 20px;
    display: block;
    width: 100px;
    color: black;
    text-align: center;
}

/* Endrer på link fargen når vi drar over. */
.navigation > li a:hover {
    background-color: rgb(219, 214, 214);
    color: rgb(0, 0, 0);
}

/*Footer design*/
footer {
    margin-top:150vh;
    background-color: lightgrey;
}

.navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    }




