
div {

    font-family: Georgia, Verdana, sans-serif;
    text-align: center;

}

h1,h2,h3,h4,h5 {
    
    text-align: center;
    text-decoration: underline;
    font-family:Georgia, Verdana, sans-serif;
}


}


body {
    background-color: rgb(255, 255, 255);
}

.header {
    font-family: Georgia, Verdana, sans-serif;
    background-color: lightsteelblue;
    text-align: center;
    padding: 50px;
    font-size: 25px;
}

    
    

nav {
    list-style-type: none;
    margin: 50px;
    padding: 0;
    overflow: hidden;
    background-color:rgb(216, 214, 214);
}

li {
    float: left;
    
}

li a{
    padding: 10px 20px;
    display: block;
    width: 100px;
    color: black;
    text-align: center;
}

/* Endrer på link fargen når vi drar over. */
li a:hover {
    background-color: rgb(219, 214, 214);
    color: rgb(0, 0, 0);
}

/*Footer design*/
footer {
    margin-top:150vh;
    background-color: lightgrey;
}




